<div class="my-notes-container">
  <div class="my-notes">
    <div class="header">My Notes</div>
    <div class="notes-list">
      <div class="titlea">Note Name</div>
      <div>
        <div class="actions">Actions</div>
      </div>
    </div>
    <div class="notes-list" *ngFor="let note of notes">
      <div class="title">
        {{ note.title }}
      </div>
      <div class="actions">
        <i (click)="onClick(note)" class="fas fa-pencil-alt"></i>
      </div>
    </div>
  </div>
</div>
