@import "../../../assets/scss/variables.scss";

.my-notes-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: $navy;
}

.my-notes {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 75%;
  height: 75%;
  background-color: $white;
  padding: 1rem 2rem;
}

.header {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.notes-list {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0.5rem 0;
  border-bottom: solid 1px #ccc8c8;
}

.actions {
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  i {
    margin: 0 0.5rem;
    font-size: 1rem;
    color: $green;
  }
  .fa-trash {
    color: red;
  }
}

.titlea {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
}
