@import "../../../assets/scss/variables.scss";

.welcome-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.welcome-text {
    display: flex;
    color: #0F0F0F;
    width: 50rem;
    text-align: center;
    line-height: 2.5rem;
    font-size: 2rem;
}

.start-button {
    margin-top: 1rem;
    background-color: #696D7D !important;
    text-transform: uppercase;
    font-size: 1.25rem;
    height: 3rem;
    color: white;
}