<div class="welcome-container">
    <div class="welcome-text">
        Welcome to savesomenotes.com, where you can store your notes forever.
    </div>
    <button [routerLink]="'login'" class="start-button" mat-flat-button>Get Started</button>
</div>