@import "../../../assets/scss/variables.scss";

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: $navy;
}

.dashboard-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  justify-content: center;
  color: #0f0f0f;
  background-color: $white;
  padding: 1rem 2rem;
  border-radius: 10px;
  height: 75%;
  width: 75%;
}

.header {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.mat-elevation-z8 {
  width: 80%;
  box-shadow: none !important;
}

.row {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.mat-paginator {
  width: 80%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
