<div class="dashboard-container">
  <div class="dashboard-box">
    <div class="header">Dashboard</div>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>
          <div class="row">
            <div>Title</div>
            <div class="actions">Actions</div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="row">
            <div>
              {{ element.title }}
            </div>
            <div class="actions">
              <i
                [matTooltip]="'Open Note: ' + element.title"
                (click)="openNote(element.noteId)"
                class="fas fa-link"
              ></i>
            </div>
          </div>
        </td>
      </ng-container>

      <!-- Name Column -->
      <!-- <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      #page
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
