<div class="navbar-container">
  <div class="header">
    <div class="left-header">
      <i class="fas fa-clipboard"></i>
      <div class="header-text">savesomenotes.com</div>
    </div>
    <div class="right-header">
      <a class="username" [matMenuTriggerFor]="menu">
        <div>{{ displayName }}</div>
        <i class="fas fa-sort-down"></i>
      </a>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    *ngIf="($user | async)?.role === 'admin'"
    [routerLink]="'/dashboard'"
  >
    Dashboard
  </button>
  <button mat-menu-item *ngIf="$user | async" [routerLink]="'/my-notes'">
    My Notes
  </button>
  <button mat-menu-item [routerLink]="'/notepad'">Notepad</button>
  <button mat-menu-item *ngIf="$user | async; else login" (click)="logout()">
    Logout
  </button>
  <ng-template #login>
    <button mat-menu-item [routerLink]="'/login'">Login</button>
  </ng-template>
</mat-menu>
