@import "../../../assets/scss/variables.scss";

.navbar-container {
  display: flex;
  height: $navbar-height;
  background-color: #15242e;
  width: 100%;
}

.header {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 1.5rem;
}

.left-header {
  display: flex;
  align-items: center;
  i {
    margin-right: 1rem;
    font-size: 1.5rem;
  }
}

.header-text {
  font-size: 1rem;
  font-weight: 400;
}

.username {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  i {
    height: 2rem;
    margin-left: 1rem;
    line-height: 1.75rem;
  }
}
