<div class="notepad-container">
  <div class="notepad-box">
    <div class="header">Notepad</div>
    <div *ngIf="editView; else noteDisplay" class="notepad">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input [formControl]="noteTitle" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Note</mat-label>
        <textarea
          [mat-autosize]="true"
          [matAutosizeMaxRows]="25"
          [formControl]="note"
          matInput
        ></textarea>
      </mat-form-field>
    </div>
    <ng-template #noteDisplay>
      <div class="title">
        {{ noteTitleFromFirestore }}
      </div>
      <div class="note">
        {{ noteFromFirestore }}
      </div>
    </ng-template>
    <div *ngIf="!editView; else submitButton" class="note-buttons">
      <button
        *ngIf="myNote"
        class="login-button"
        mat-flat-button
        (click)="enableEdit()"
      >
        Edit
      </button>
    </div>
    <ng-template #submitButton>
      <button
        *ngIf="!saveView; else saveButton"
        class="login-button"
        mat-flat-button
        (click)="onSumbit(false)"
      >
        Submit
      </button>
      <ng-template #saveButton>
        <button class="login-button" mat-flat-button (click)="onSumbit(true)">
          Save
        </button>
      </ng-template>
    </ng-template>
    <button
      *ngIf="saveView"
      class="new-button"
      mat-flat-button
      [routerLink]="'/notepad'"
    >
      New Note
    </button>
    <div class="url" *ngIf="saveView">
      {{ noteUrl }}
      <button
        mat-icon-button
        [cdkCopyToClipboard]="noteUrl"
        [matTooltip]="'Copy to clipboard'"
      >
        <i class="fas fa-copy"></i>
      </button>
    </div>
  </div>
</div>
