@import "../../../assets/scss/variables.scss";

.notepad-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.notepad {
  width: 50rem;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.notepad-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white;
  padding: 1rem 2rem;
  border-radius: 10px;
  height: 75%;
  width: 75%;
}

.login-button {
  margin-top: 1rem;
  background-color: #696d7d !important;
  font-size: 1rem;
  color: white;
}

.options-privacy {
  display: flex;
  margin: 2rem 0;
  align-items: center;
  justify-content: space-between;
  mat-radio-button {
    margin: 0 1rem;
  }
}

.note-buttons {
  display: flex;
  button {
    margin: 1rem;
  }
  align-items: center;
}

.note {
  display: flex;
  width: 50rem;
  flex-wrap: wrap;
  word-break: break-word;
  overflow-y: auto;
}

.title {
  display: flex;
  font-size: 1.5rem;
  margin: 1rem;
}

.new-button {
  margin: 1rem;
  background-color: #696d7d !important;
  font-size: 1rem;
  color: white;
}

.url {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
