<div class="login-container">
  <div class="login-box">
    <div class="form-header">Sign in</div>
    <div class="form">
      <mat-form-field appearance="legacy" floatLabel="always">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="email" />
        <mat-error
          *ngIf="email.errors && email.errors.email; else firestoreEmailError"
        >
          Please enter a valid email address.
        </mat-error>
        <ng-template #firestoreEmailError>
          <mat-error>{{ emailError }}</mat-error>
        </ng-template>
      </mat-form-field>
      <mat-form-field appearance="legacy" floatLabel="always">
        <mat-label>Password</mat-label>
        <input
          matInput
          [formControl]="password"
          [type]="hidePassword ? 'password' : 'text'"
        />
        <i
          matSuffix
          (click)="hidePassword = !hidePassword"
          class="fas fa-eye"
          *ngIf="hidePassword; else showPassword"
        ></i>
        <ng-template #showPassword>
          <i
            matSuffix
            (click)="hidePassword = !hidePassword"
            class="fas fa-eye-slash"
          ></i
        ></ng-template>
        <mat-error
          *ngIf="
            password.errors && password.errors.pattern;
            else firestorePasswordError
          "
        >
          Password must contain at least eight characters, with at least one
          letter and one number.
        </mat-error>
        <ng-template #firestorePasswordError>
          <mat-error>{{ passwordError }}</mat-error>
        </ng-template>
      </mat-form-field>
      <div class="login">
        <button (click)="loginWithEmail()" class="login-button" mat-flat-button>
          Login
        </button>
        <button
          (click)="loginWithGoogle()"
          class="login-button-google"
          mat-flat-button
        >
          Login with
          <i class="fab fa-google"></i>
        </button>
      </div>
      <div class="other-actions">
        <a (click)="openSignUp()">Create an Account</a>
        <a [routerLink]="'/notepad'">Continue as Guest</a>
      </div>
    </div>
  </div>
</div>
