@import "../../../assets/scss/variables.scss";

.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: $navy;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0f0f0f;
  background-color: $white;
  padding: 1rem 2rem;
  border-radius: 10px;
  height: 75%;
  width: 75%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button {
  background-color: $blue !important;
  font-size: 1rem;
  color: $white;
  margin-top: 1rem;
  i {
    margin: 0 0 0 0.5rem;
  }
}

.login-button-google {
  background-color: $green !important;
  font-size: 1rem;
  color: $white;
  margin-top: 1rem;
  i {
    margin: 0 0 0 7.5px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 25rem;
  mat-form-field {
    margin: 0.75rem 0;
  }
}

.form-header {
  font-size: 1.25rem;
  margin: 2rem 0;
}

.other-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  a:nth-of-type(2) {
    margin-left: 1rem;
  }
  a {
    color: #0f0f0f;
    text-decoration: none;
    &:hover {
      opacity: 0.75;
      cursor: pointer;
    }
  }
}
