@import "../../../assets/scss/variables.scss";

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button {
  background-color: $blue !important;
  font-size: 1rem;
  color: $white;
  margin-top: 1rem;
  i {
    margin: 0 0 0 0.5rem;
  }
}

.login-button-google {
  background-color: $green !important;
  font-size: 1rem;
  color: $white;
  margin-top: 1rem;
  i {
    margin: 0 0 0 7.5px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 25rem;
  mat-form-field {
    margin: 0.5rem 0;
  }
}

.form-header {
  font-size: 1.25rem;
  margin: 2rem 0;
}

.other-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  a:nth-of-type(2) {
    margin-left: 1rem;
  }
}
