<div matDialogTitle>Sign up</div>
<div class="form">
  <mat-form-field appearance="legacy" floatLabel="always">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="name" />
    <mat-error>Password entere a name.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="legacy" floatLabel="always">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="email" />
    <mat-error *ngIf="error === ''; else firestoreError"
      >Please enter a valid email address.</mat-error
    >
    <ng-template #firestoreError>
      <mat-error>{{ error }}</mat-error>
    </ng-template>
  </mat-form-field>
  <mat-form-field appearance="legacy" floatLabel="always">
    <mat-label>Password</mat-label>
    <input
      matInput
      [formControl]="password"
      [type]="hidePassword ? 'password' : 'text'"
    />
    <i
      matSuffix
      (click)="hidePassword = !hidePassword"
      class="fas fa-eye"
      *ngIf="hidePassword; else showPassword"
    ></i>
    <ng-template #showPassword>
      <i
        matSuffix
        (click)="hidePassword = !hidePassword"
        class="fas fa-eye-slash"
      ></i
    ></ng-template>
    <mat-error
      >Password must contain at least eight characters, with at least one letter
      and one number.</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="legacy" floatLabel="always">
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      [formControl]="confirmPassword"
      [type]="hidePassword2 ? 'password' : 'text'"
    />
    <i
      matSuffix
      (click)="hidePassword2 = !hidePassword2"
      class="fas fa-eye"
      *ngIf="hidePassword2; else showPassword2"
    ></i>
    <ng-template #showPassword2>
      <i
        matSuffix
        (click)="hidePassword2 = !hidePassword2"
        class="fas fa-eye-slash"
      ></i
    ></ng-template>
    <mat-error>Passwords must match.</mat-error>
  </mat-form-field>
  <div class="login">
    <button
      (click)="signUp()"
      class="login-button"
      mat-flat-button
      [disabled]="
        email.invalid ||
        password.invalid ||
        confirmPassword.invalid ||
        name.invalid ||
        !password.dirty ||
        !confirmPassword.dirty ||
        !email.dirty ||
        !name.dirty
      "
    >
      Sign Up
    </button>
  </div>
</div>
