/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/variables.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  background-color: #eef1ef;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  background-color: $light-grey;
  box-shadow: none !important;
  margin-bottom: 1rem;
}
